*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{
  list-style-type: none;
}
a{
  text-decoration: none; // 去掉下划线
  color: inherit; //继承颜色
}
button,input{
  font: inherit;
}
:focus{
  outline: none;
}